<footer class="site-footer">

  <div class="wrapper">

		<!-- <h2 class="footer-heading">{{ site.title }}</h2> -->

    <div class="footer-col-wrapper">
      <div class="footer-col  footer-col-1">
        <ul class="contact-list">
          <li>{{ site.subtitle }}</li>
        </ul>
      </div>


      <div class="footer-col  footer-col-2">
        {% if site.author.dribbble %}<a href="https://dribbble.com/{{ site.author.dribbble }}"><i class="svg-icon dribbble"></i></a>{% endif %}
        {% if site.author.email %}<a href="mailto:{{ site.author.email }}"><i class="svg-icon email"></i></a>{% endif %}
        {% if site.author.facebook %}<a href="https://www.facebook.com/{{ site.author.facebook }}"><i class="svg-icon facebook"></i></a>{% endif %}
        {% if site.author.flickr %}<a href="https://www.flickr.com/{{ site.author.flickr }}"><i class="svg-icon flickr"></i></a>{% endif %}
        {% if site.author.github %}<a href="https://github.com/{{ site.author.github }}"><i class="svg-icon github"></i></a>{% endif %}
        {% if site.author.instagram %}<a href="https://instagram.com/{{ site.author.instagram }}"><i class="svg-icon instagram"></i></a>{% endif %}
        {% if site.author.linkedin %}<a href="https://www.linkedin.com/in/{{ site.author.linkedin }}"><i class="svg-icon linkedin"></i></a>{% endif %}
        {% if site.author.pinterest %}<a href="https://www.pinterest.com/{{ site.author.pinterest }}"><i class="svg-icon pinterest"></i></a>{% endif %}
        {% if site.author.rss %}<a href="{{ site.baseurl }}/feed.xml"><i class="svg-icon rss"></i></a>{% endif %}
        {% if site.author.twitter %}<a href="https://www.twitter.com/{{ site.author.twitter }}"><i class="svg-icon twitter"></i></a>{% endif %}
        {% if site.author.stackoverflow %}<a href="http://stackoverflow.com/{{ site.author.stackoverflow }}"><i class="svg-icon stackoverflow"></i></a>{% endif %}
        {% if site.author.youtube %}<a href="https://youtube.com/{{ site.author.youtube }}"><i class="svg-icon youtube"></i></a>{% endif %}
        {% if site.author.googleplus %}<a href="https://plus.google.com/{{ site.author.googleplus }}"><i class="svg-icon googleplus"></i></a>{% endif %}
        {% if site.author.bitbucket %} add bitbucket<a href="https://bitbucket.com/{{ site.author.bitbucket }}"><i class="svg-icon bitbucket"></i></a>{% endif %}
      </div>

      <div class="footer-col  footer-col-3">
        <p class="text">{{ site.description }}</p>
      </div>
    </div>

  </div>

</footer>
